@import "/styles/mixins";

.BlogPage {
  height: 100%;
  width: 100%;
  position: relative;
  @include make-flex($just: flex-start);

  .temp {
    height: auto;
    width: 400px;
    overflow-x: auto;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.07);
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color: #575757;
  }
}
