@import "./mixins";

.container {
  min-height: 100%;
  width: 100%;
  @include make-flex($just: flex-start);
  .homeHeader {
    height: 180px;
    @include make-flex();
    h1 {
      font-family: "Cinzel Decorative", cursive;
      font-size: 60px;
      font-weight: 900;
      font-style: normal;
      line-height: initial;

      @include make-flex($align: flex-end);

      sub {
        width: fit-content;
        font-size: 14px;
        color: #6e6e6e;
      }
    }
  }
  hr {
    width: 80%;
  }

  .main {
    // height: 100%;
    margin-bottom: 50px;
    width: 80%;
    @include make-flex($just: flex-start);
    gap: 20px;

    .blogsContainer {
      @include make-flex();
      gap: 15px;
      width: 100%;

      .blogsContainerItem {
        width: 100%;
        min-height: 60px;
        border-radius: 8px;
        padding: 15px 20px;
        box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.07);
        @include make-flex($dir: row, $just: space-between);
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &:hover {
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.07);
        }

        .date,
        .title {
          height: 100%;
          @include make-flex($align: flex-start);
          font-size: 20px;
          gap: 10px;
        }

        .subTitle {
          font-size: 15px;
        }

        .gotoBlog {
          background-image: url(../Assets/right.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;

          height: 22px;
          width: 22px;
        }

        .left,
        .right {
          @include make-flex($dir: row, $just: flex-start);
          gap: 15px;
          height: 100%;
          width: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 745px) {
  .container {
    hr {
      width: 100%;
    }

    .main {
      width: 100%;
      padding: 0 25px;
      .blogsContainer {
        .blogsContainerItem {
          @include make-flex($align: flex-start);
          gap: 10px;

          .right {
            width: 100%;
            justify-content: flex-end;
          }
        }
      }
    }
  }
}
