@import "./mixins";

.container {
  min-height: 100%;
  width: 100%;
  @include make-flex($just: flex-start);
  .homeHeader {
    height: 180px;
    @include make-flex();
    h1 {
      font-family: "Cinzel Decorative", cursive;
      font-size: 60px;
      font-weight: 900;
      font-style: normal;
      line-height: initial;

      @include make-flex($align: flex-end);

      sub {
        width: fit-content;
        font-size: 14px;
        color: #6e6e6e;
      }
    }
  }
  hr {
    width: 80%;
  }

  .main {
    // height: 100%;
    margin-bottom: 50px;
    width: 80%;
    @include make-flex($just: flex-start);
    gap: 20px;

    .blogsContainer {
      display: grid;

      gap: 15px;
      width: 100%;

      .blogsContainerItem {
        min-height: 60px;
        height: 100%;
        border-radius: 8px;
        width: 100%;
        box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.07);

        .contentContainer {
          border-radius: 8px;

          width: 100%;
          height: 100%;
          cursor: pointer;
          padding: 15px 20px;
          background: #52525259;
          backdrop-filter: blur(4px);
          transition: all 0.1s ease-in-out;
          @include make-flex($dir: row, $just: space-between);
          color: white;
        }

        &:hover {
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.07);
        }

        .date,
        .title {
          height: 100%;
          @include make-flex($align: flex-start);
          font-size: 20px;
          gap: 10px;
          width: 100%;
          white-space: nowrap;
        }

        .subTitle {
          font-size: 15px;
          width: 80%;
          white-space: normal;
        }

        .gotoBlog {
          background-image: url(../Assets/right.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          filter: invert(100%);

          height: 22px;
          width: 22px;
        }

        .left,
        .right {
          @include make-flex($dir: row, $just: flex-start);
          gap: 15px;
          height: 100%;
          width: auto;
        }

        .left {
          // flex-grow: 1;

          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 745px) {
  .container {
    hr {
      width: 100%;
    }

    .main {
      width: 100%;
      padding: 0 25px;
      .blogsContainer {
        .blogsContainerItem {
          .contentContainer {
            // @include make-flex($align: flex-start, $dir: column);
            flex-direction: column;
            gap: 10px;

            .right {
              width: 100%;
              justify-content: flex-end;

              height: auto;
            }
          }
        }
      }
    }
  }
}
